In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mticker

In [2]:
df_stocks = pd.read_csv('database/sp500_stocks.csv')

df_stocks.columns = df_stocks.columns.str.lower().str.replace(' ', '_')
df_stocks['date'] = pd.to_datetime(df_stocks['date'])

# Filtrar para os anos de 2023 e 2024
df_stocks = df_stocks[(df_stocks['date'].dt.year == 2023) | (df_stocks['date'].dt.year == 2024)]

# Criar colunas de ano e mÃªs
df_stocks['year'] = df_stocks['date'].dt.year
df_stocks['month'] = df_stocks['date'].dt.month

df_stocks.head()

,date,symbol,adj_close,close,high,low,open,volume,year,month
3272,2023-01-03,MMM,93.823418,102.399666,102.541809,100.643814,101.605354,3124909.0,2023,1
3273,2023-01-04,MMM,95.876541,104.640465,104.757523,102.600334,103.135452,3312561.0,2023,1
3274,2023-01-05,MMM,94.198799,102.809364,104.155518,102.391304,103.854515,3117494.0,2023,1
3275,2023-01-06,MMM,97.079315,105.953178,106.295990,103.469902,104.230766,2890732.0,2023,1
3276,2023-01-09,MMM,97.132927,106.011703,108.244148,105.443146,106.187294,3434075.0,2023,1

In [3]:
# Salvar o DataFrame filtrado em um arquivo CSV
# df_stocks.to_csv('stocks_2023-2024.csv', index=False)